<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>This is a test</title>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
<style type="text/css">
    body {
        font-family: 'Open Sans', sans-serif;
    }

    #product-div {
        text-align: center;
        border: 1px solid #666;
        width: 400px;
        margin: 0 auto;
        minimum-height: 500px;
        padding: 5px;
    }

    #product-recommendation {
        border: 0px solid #666;
        width: 400px;
        margin: 25px auto;
    }

    #flash-msg {
        border: 0px solid #666;
        width: 400px;
        margin: 25px auto;
        padding: 5px;
        background: #5cb85c;
        color: #fff;
    }

    #product-name, #back-button, #title {
        display: block;
        margin: 20px 0 10px 0;
    }

    #msg {
        display: block;
    }

    #product-image {
        margin: 20px 0 0 0;
    }

    #recommended-image {
        padding: 2px;
        border: 1px solid #666;
        width: 25%;
        margin-right: 5px;
        float: left;
    }

    a {
        text-decoration: underline;
        color: #222;
    }

    a.image {
        text-decoration: none;
        opacity: 1;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    a.image:hover {
        opacity: 0.5;
        transition: opacity .25s ease-in-out;
        -moz-transition: opacity .25s ease-in-out;
        -webkit-transition: opacity .25s ease-in-out;
    }

    h3 {
        font-size: 18px;
    }
</style>
</head>
<body>
    {% if flash['message'] %}
        <div id="flash-msg">
            <span id="msg">{{ flash['message'] }}</span>
        </div>
    {% endif %}
    <div id="product-div">
        <a href="/" id="back-button">Back</a>
        <span id="product-name">{{product.name}}</span>
        <img src="http://images.mobilefun.co.uk/graphics/300pixelp/--p{{ product.product_id }}-300.jpg" alt="{{ product.product_id }}" id="product-image">
        <p>Price: £{{ product.price }}</p>
        <form action="/products/buy/{{product.product_id}}" method="GET">
            <input type="submit" value="Buy now!"/>
        </form>
    </div>
    <div id="product-recommendation">
        {% if recommendations != 0 %}
            <span id="title">People who viewed this product bought</span>
            {% for recommendation in recommendations %}
                <div id="recommended-image">
                    <a class="image" href="/products/{{ recommendation }}">
                        <img src="http://images.mobilefun.co.uk/graphics/100pixelp/--p{{ recommendation }}-100.jpg" alt="{{ recommendation }}">
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>